---
layout: default
---
<div id="owl" class="owl-carousel owl-theme">
    <div class="item">
        <img src="http://cody1991.github.io/sysutangzxBlog/source/owl1.jpg" />
        <a href="owl_link">日记日记</a>
    </div>
    <div class="item">
        <img src="http://cody1991.github.io/sysutangzxBlog/source/owl2.jpg" />
    </div>
    <div class="item">
        <img src="http://cody1991.github.io/sysutangzxBlog/source/owl3.jpg" />
    </div>
    <div class="item">
        <img src="http://cody1991.github.io/sysutangzxBlog/source/owl4.jpg" />
    </div>
    <div class="item">
        <img src="http://cody1991.github.io/sysutangzxBlog/source/owl5.jpg" />
    </div>
</div>

<div class="home">
  <ul class="post-list">

    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

{% if paginator.total_pages > 1 %}
<div class="page">
    {% if paginator.previous_page %}
        <a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lt;</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="pageNum active">{{ page }}</span>
        {% elsif page == 1 %}
          <a class="pageNum" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a class="pageNum" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}/index.html">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&gt;</a>
    {% endif %}
</div>
{% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
