<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div class="loading">
        <img src="http://cody1991.github.io/sysutangzxBlog/source/load.gif" />
        <p>L o a d i n g . . .</p>
    </div>
    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>

    </div>


    {% include footer.html %}

    <script type="text/javascript" src="{{ "audiojs/audio.min.js " | prepend: site.baseurl }}"></script>
    <script>
    </script>
    <script type="text/javascript" src="{{ "js/jquery-1.10.2.min.js " | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var pageNum = $('.page .pageNum');
        var pageWidth = 0;
        pageNum.each(function() {
            pageWidth += ($(this).width() + 15);
        })

        $('.page').width(pageWidth);
    });
    </script>


    <script type="text/javascript" src="{{ "js/owl.carousel.min.js " | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
    window.onload = function() {

        $('.loading').remove();
        $('.audiojs').show();
        console.log(1);
        audiojs.events.ready(function() {
            var as = audiojs.createAll({
                autoplay: true
            });
        });
        if ($("#owl").length != 0) {
            $("#owl").owlCarousel({
                items: 1,
                loop: true,
                margin: 0,
                smartSpeed: 450,
                dots: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true
            });
        }
    }
    </script>

    <script type="text/javascript" src="{{ "js/jquery.lettering.js " | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#logo").lettering();

        if ($('.category_main').length != 0) {
            var url = window.location.href;
            var indexFlag = url.indexOf('#');
            var categoryClass;

            if (indexFlag < 0) {
                $('.category_main > div').eq(0).fadeIn();
            } else {
                categoryClass = '.' + url.substr(indexFlag + 1);
                if (categoryClass.length <= 1) {
                    $('.category_main > div').eq(0).fadeIn();
                } else {
                    $(categoryClass).fadeIn();
                }
            }


            $('.page-link').click(function() {
                var url = $(this).attr('href');
                var indexFlag = url.indexOf('#');
                url = url.substr(indexFlag + 1);
                url = '.' + url;
                $('.category_main > div').hide();
                $(url).fadeIn();
            })

        }
    })
    </script>

</body>

</html>
