<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>

    </div>


    {% include footer.html %}

    <script type="text/javascript" src="{{ "audiojs/audio.min.js" | prepend: site.baseurl }}"></script>
    <script>
    audiojs.events.ready(function() {
        var as = audiojs.createAll({
            autoplay: true
        });
    });
    </script>
    <script type="text/javascript" src="{{ "js/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var pageNum = $('.page .pageNum');
        var pageWidth = 0;
        pageNum.each(function() {
            pageWidth += ($(this).width() + 15);
        })

        $('.page').width(pageWidth);
    });
    </script>


    <script type="text/javascript" src="{{ "js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
    window.onload = function(){
        if ($("#owl").length != 0) {
            $("#owl").owlCarousel({
                items: 1,
                loop: true,
                margin: 0,
                smartSpeed: 450,
                dots: true,
                autoplay:true,
                autoplayTimeout:3000,
                autoplayHoverPause:true
            });
        }        
    }
    </script>

    <script type="text/javascript" src="{{ "js/jquery.lettering.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">

    $(document).ready(function(){
        $("#logo").lettering();

        if( $('.category_main').length != 0){
            var categoryClass = '.' + getCategory();
            $(categoryClass).fadeIn();

            $('.page-link').click(function(){
                var url = $(this).attr('href');
                var indexFlag = url.indexOf('#');
                url = url.substr(indexFlag + 1);
                url = '.' + url;
                $('.category_main > div').hide();
                $(url).fadeIn();
            })

        }
    })
    function getCategory(){
            var url = window.location.href;
            var indexFlag = url.indexOf('#');
            url = url.substr(indexFlag+1);
            return url;
    }
    </script>

</body>

</html>
