<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">
            <div class="rainwrap">
                <img id="rain"/>
                <canvas id="canvas"></canvas>
            </div>
            {{ content }}
        </div>

    </div>


    {% include footer.html %}

    <script type="text/javascript" src="{{ "audiojs/audio.min.js" | prepend: site.baseurl }}"></script>
    <script>
    audiojs.events.ready(function() {
        var as = audiojs.createAll({
            autoplay: true
        });
    });
    </script>
    <script type="text/javascript" src="{{ "js/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var pageNum = $('.page .pageNum');
        var pageWidth = 0;
        pageNum.each(function() {
            pageWidth += ($(this).width() + 15);
        })

        $('.page').width(pageWidth);

        run();

    });
    </script>

    <script type="text/javascript" src="{{ "js/rainyday.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
    function run() {
        var image = document.getElementById('rain');
        image.onload = function() {
            var engine = new RainyDay({
                image: this,
            }, document.getElementById('canvas'));
            engine.trail = engine.TRAIL_SMUDGE;
            image.crossOrigin = 'anonymous';
            engine.rain([ [0, 2, 200], [3, 3, 1] ], 100);
        };
        image.src = 'http://cody1991.github.io/sysutangzxBlog/source/rain.jpg';
    }
    </script>

</body>

</html>
